/* style-gestion-de-riesgo.css */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2874A6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.header-text {
    animation: moveText 5s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}





.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;

 }
    
.nav-bar ul {  
    display: flex;
    list-style: none;

}

.nav-bar ul li a { 
    text-decoration: none;
    display: block;
    color:#576CBC;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a ::after{ 
    display: block;
    content: "";
    border-bottom: 2px solid #A5D7E8;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-bar ul li a :hover:after{ 
    
    transform: scaleX(1);
 
}
.nav-bar ul li a.acrive{ 
    color:#19376D;
}

/* Estilos generales (puedes incluir aquí estilos globales) */

/* Secciones */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-content {
    margin-bottom: 20px;
}

h2.neon-text {
    font-size: 28px;
    color: #007bff;
    text-shadow: 0 0 10px #007bff;
    transition: transform 0.2s, text-shadow 0.2s;
}

h2.neon-text:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px #007bff;
}

.label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

p {
    font-size: 16px;
    color: #333;
}



/* Imagen redondeada */
.rounded-image {
    max-width: 50px;
    height: auto;
    border-radius: 20px;
}

/* Botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {

    .header-text {
        font-size: 18px; /* Tamaño de fuente más pequeño para dispositivos pequeños */
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle .line {  
     width: 30px;
     height: 3px;
     background: #0B2447;
     margin: 6px 0;
    }

    .nav-bar {  
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{ 
        height: 450px;
    }

    .nav-bar ul {  
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    }
    .nav-bar.active ul{ 
        opacity: 1;
    }


    .nav-bar ul li a{ 
        margin-bottom: 12px

    
    }
    


    .label {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .rounded-image {
        border-radius: 0; /* Elimina el borde redondeado */
    }

    .button {
        font-size: 14px;
        padding: 8px 15px;
    }

}





/* Footer */
/* Estilo base del footer */
footer {
    background-color: #18A518;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo de la sección de contacto */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de cada elemento de contacto */
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Agregar transición */
}

.contact-item:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.contact-item img {
    width: 50px; /* Aumentar el tamaño del ícono */
    height: 50px;
    margin-right: 10px; /* Agregar espacio entre el ícono y el texto */
}

/* Estilo de los íconos con justificación a la izquierda */
.fa-solid {
    color: #333; /* Cambiar el color del ícono */
    text-align: left; /* Justificar el texto a la izquierda */
}

/* Media query para hacer el footer responsive */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column; /* Cambiar a dirección de columna en pantallas pequeñas */
        text-align: center;
    }

    .contact {
        margin-bottom: 20px;
    }
    .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Agregar transición */
}

}