body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2874A6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.header-text {
    animation: moveText 5s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;

 }
    
.nav-bar ul {  
    display: flex;
    list-style: none;

}

.nav-bar ul li a { 
    text-decoration: none;
    display: block;
    color:#576CBC;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a ::after{ 
    display: block;
    content: "";
    border-bottom: 2px solid #A5D7E8;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-bar ul li a :hover:after{ 
    
    transform: scaleX(1);
 
}
.nav-bar ul li a.acrive{ 
    color:#19376D;
}





/* Secciones */
.section {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section img {
    max-width: 100%;
    height: auto;
}

.section h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}

.section p {
    font-size: 16px;
    color: #777;
}

.animated-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.animated-button:hover {
    background-color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: #0056b3;
}






/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .header-text {
        font-size: 18px; /* Tamaño de fuente más pequeño para dispositivos pequeños */
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle .line {  
     width: 30px;
     height: 3px;
     background: #0B2447;
     margin: 6px 0;
    }

    .nav-bar {  
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: white;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{ 
        height: 450px;
    }

    .nav-bar ul {  
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    }
    .nav-bar.active ul{ 
        opacity: 1;
    }


    .nav-bar ul li a{ 
        margin-bottom: 12px

    
    }

}



/* Estilo base del footer */
footer {
    background-color: #18A518;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo de la sección de contacto */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de cada elemento de contacto */
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Agregar transición */
}

.contact-item:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}

.contact-item img {
    width: 50px; /* Aumentar el tamaño del ícono */
    height: 50px;
    margin-right: 10px; /* Agregar espacio entre el ícono y el texto */
}

/* Estilo de los íconos con justificación a la izquierda */
.fa-solid {
    color: #333; /* Cambiar el color del ícono */
    text-align: left; /* Justificar el texto a la izquierda */
}

/* Media query para hacer el footer responsive */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column; /* Cambiar a dirección de columna en pantallas pequeñas */
        text-align: center;
    }

    .contact {
        margin-bottom: 20px;
    }
    .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Agregar transición */
}

}

/* Estilos para hacerlo responsive */
@media screen and (max-width: 768px) {
    /* Cambia los estilos del header para pantallas pequeñas */
    header {
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    nav {
        position: static;
        text-align: center;
        background-color: transparent;
    }

    #menu {
        position: static;
        background-color: transparent;
        max-height: none;
        overflow: visible;
        flex-direction: row;
        margin-top: 10px;
    }

    #menu li {
        margin: 0 10px;
    }

    /* Ajusta el tamaño del logo para pantallas pequeñas */
    .logo img {
        max-width: 200px; /* Cambia el tamaño según tus necesidades */
    }

    /* Estilos para las secciones en pantallas pequeñas */
    .section {
        margin: 10px;
        padding: 15px;
    }

    .section h2 {
        font-size: 20px;
    }

    .section p {
        font-size: 14px;
    }

    .animated-button,
    .button {
        font-size: 14px;
        padding: 8px 15px;
    }
}


























/* Estilo del formulario */
form {
    background-color: #fff;
    max-width: 400px;
    margin:  auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Redondea más los bordes */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    text-align: center;
}

/* Estilo de los botones */
input[type="submit"],
input[type="file"] {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 8px; /* Aumenta el espacio interno */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="file"]:hover {
    background-color: #0056b3;
}

/* Estilo para el botón de selección de archivo */
input[type="file"] {
    margin-top: 20px; /* Agrega más espacio superior */
}


/* Estilo para centrar el contenido del formulario en pantallas pequeñas */
@media screen and (max-width: 768px) {
    form {
        max-width: 90%;
        padding: 25px; /* Reduce el espacio interno en pantallas pequeñas */
    }
    
    /* Estilo de los labels en pantallas pequeñas */
    label {
        font-size: 16px;
        margin-bottom: 8px; /* Reduzca el espacio inferior entre etiquetas */
    }

    /* Estilo de los inputs de texto en pantallas pequeñas */
    input[type="text"],
    textarea {
        font-size: 14px; /* Reduzca el tamaño de fuente en pantallas pequeñas */
    }

    /* Estilo del select en pantallas pequeñas */
    select {
        font-size: 14px; /* Reduzca el tamaño de fuente en pantallas pequeñas */
    }

    /* Estilo para la descripción del evento en pantallas pequeñas */
    #descripcion {
        font-size: 15px; /* Reduzca el tamaño de fuente en pantallas pequeñas */
    }

    /* Estilo del botón de selección de archivo en pantallas pequeñas */
    input[type="file"] + label {
        font-size: 14px; /* Reduzca el tamaño de fuente en pantallas pequeñas */
    }

    }

/* Estilo de los labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #007BFF; /* Cambia el color a azul */
}

/* Estilo de los inputs de texto */
input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px; /* Espacio adicional entre elementos */
    border: 2px solid #007BFF; /* Borde azul */
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Estilo del select */
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; /* Espacio adicional entre elementos */
    border: 2px solid #007BFF; /* Borde azul */
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Estilo para la descripción del evento */
#descripcion {
    resize: none; /* Evita que se pueda redimensionar el textarea */

}

/* Cambia el estilo del label para el input de archivo */
input[type="file"] + label {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
